<!--<p id="notice"><%#= notice %></p>--> <!-- removed during the devise installation process. <%#= notice %> is now located in the yield container on the app.html.erb page -->

<p>
  <strong>User name:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @comment.pitch_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
