<!--<p id="notice"><%#= notice %></p>--> <!-- removed during the devise installation process. <%#= notice %> is now located in the yield container on the app.html.erb page -->

<div class="row">
  <div class="col-md-9">
    <%#= image_tag(@pitch.image_url, width: '100%') if @pitch.image.present? %>
    <%= image_tag(@pitch.image_url, width: 600) if @pitch.image.present? %>
    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br>
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @pitch.name %></p>
    <p><b>Description: </b><%= @pitch.description %></p>
    <p>
      <!-- removed as now controlled through the activeadmin page<%#= link_to 'Edit', edit_pitch_path(@pitch) %> |
      <%#= link_to 'Delete', @pitch, data: { confirm: 'Are you sure?' }, method: :delete %> |-->
      <%= link_to 'Back', pitches_path %>
    </p>
  </div>
</div>