<!--<p id="notice"><%#= notice %></p>--> <!-- removed during the devise installation process. <%#= notice %> is now located in the yield container on the app.html.erb page -->

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@pitch.image_url, width: '100%') if @pitch.image.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @pitch.name %></p>
    <p><b>Description: </b><%= @pitch.description %></p>
    <p>
      <%= link_to 'Edit', edit_pitch_path(@pitch) %> |
      <%= link_to 'Delete', @pitch, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', pitches_path %>
    </p>
  </div>
</div>